params {
  scores_path = "/home/waddelld/rnatools/mirdip5/resources_map_these_ids"
  convert_mirbase_id_script = "/home/waddelld/rnatools/mirdip5/scripts/convert_mirbase_ids.R"
  update_data_source_ids_script = "/home/waddelld/rnatools/mirdip5/scripts/mirdip5_update_data_source_ids.py"
  hgnc_symbol_check_results = "/home/waddelld/rnatools/mirdip5/hgnc_symbol_check_all_mirdip4_and_new_resources.csv"
  updated_ids_folder = "/home/waddelld/rnatools/mirdip5/mirdip4_and_new_ids_updated"
  update_gene_symbols_script = "/home/waddelld/rnatools/mirdip5/scripts/update_gene_symbols.py"
  benchmark_script_path = "/home/waddelld/rnatools/mirdip5/scripts/mirdip5_bench_one_file.R"
  bench_collection = "/home/waddelld/rnatools/mirdip5/benchmarks_with_mirdip4_and_new"
  bench_style = "benchmark"
  gold_standard = '/home/waddelld/rnatools/mirdip5/plat_large_three_cols_only.tsv'
  integrate_and_plot_script = "/home/waddelld/rnatools/mirdip5/scripts/mirdip5_integrate_and_plot_benchmarks.R"
  prec_recall_pdf = '/home/waddelld/rnatools/mirdip5/mirdip5_benchmarks.pdf'
  noisyor_script = "/home/waddelld/rnatools/mirdip5/scripts/mirdip5_run_noisyOR.R"
  integrated_score_file = "mirdip5_integrated_scores.txt"
}

profiles {
    ijcluster {
        process {
	    executor = 'slurm'
       	    queue = 'dque'
	    cpus = 4
    	    memory = 32.GB
    	    errorStrategy = 'retry'
    	    withLabel: mem_large { memory = 48.GB }
    	    withLabel: mem_xlarge { memory = 64.GB }
	    withLabel: mem_xxlarge { memory = 128.GB }
    	    withLabel: mem_xxxlarge { memory = 192.GB }
       	    withLabel: mem_xxxxlarge { memory = 248.GB }
	}
    }
}