params {
  prediction_script_path = "/gpfs/lb/mirdip5/tools/TarPmiR_Linux/TarPmiR.py"
  prediction_model_path = "/gpfs/lb/mirdip5/tools/TarPmiR_Linux/models/Human_sklearn_0.22.pkl"
  utrs_per_process = 1000
  mirs_per_process = 10
  utrs = "/gpfs/lb/mirdip5/utrs/utrs_hg38_removed_unavailables_and_double_dash.fa"
  mirs = "/gpfs/lb/mirdip5/mirbase_human_plus_78_from_mirgenedb.fa"
  prob = 0.5
}

profiles {
    ijcluster {
        process {
	    executor = 'slurm'
       	    queue = 'dque'
	    cpus = 1
    	    memory = 256.MB
    	    errorStrategy = 'retry'
    	    withLabel: mem_large { memory = 48.GB }
    	    withLabel: mem_xlarge { memory = 64.GB }
	    withLabel: mem_xxlarge { memory = 128.GB }
	}
    }
}