params {
  prediction_script_path = "/gpfs/lb/mirdip5/tools/pita/pita_prediction.pl"
  utrs_per_process = 100000
  mirs_per_process = 1
  utrs = "/gpfs/lb/mirdip5/utrs/utrs_hg38_removed_unavailables_and_double_dash.fa"
  mirs = "/gpfs/lb/mirdip5/novel/final_novel.fa"
  prefix = "mirdip5"
  upstream = ""
  flank_up = ""
  flank_down = ""
  ddG_context = ""
  prefix = ""
  gxp = ""
  dash_l_seed_lengths_default_6_to_8 = ""
  gu_lengths_for_which_gu_wobbles_allowed_plus_num_allowed = ""
  length_of_mismatches_and_num_allowed = ""
  lengths_allowing_single_loop = ""
}

profiles {
    ijcluster {
        executor {
	    name = 'slurm'
	    queueSize = 1000
	}
        process {
       	    queue = 'dque'
	    cpus = 1
    	    memory = 256.MB
    	    errorStrategy = 'retry'
    	    withLabel: mem_large { memory = 48.GB }
    	    withLabel: mem_xlarge { memory = 64.GB }
	    withLabel: mem_xxlarge { memory = 128.GB }
	}
    }
}